; top-most EditorConfig file
root = true

[*]
; Unix-style newlines
end_of_line = LF
; Set default charset
charset = utf-8

[*.{php,js,css}]
indent_style = space
indent_size = 4
trim_trailing_whitespace=true
